@import url('https://fonts.googleapis.com/css?family=Tajawal|El+Messiri|Reem+Kufi|Baloo+Bhaijaan|Lateef|Mada');

body, .section, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, div, .ui-input, input {
    font-family: 'Tajawal', sans-serif !important;
}

.direction{
    direction: rtl!important;
}
.post.post-widget .post-img{
    float: right;
}
.post.post-widget .post-body{

    margin: 0px 150px 0px 0px;
}